{% extends 'myapp/base.html' %}
{% load static %}

{% block title %}Наши услуги{% endblock %}

{% block content %}
<div class="container mt-4 section">
    <!-- Заголовок и описание услуг -->
    <h1>Наши услуги</h1>
    <p>Мы предлагаем широкий спектр услуг, предназначенных для удовлетворения потребностей наших клиентов.</p>

    <!-- Карточки услуг -->
    <div class="row">
        <!-- Первая услуга -->
        <div class="col-md-4">
            <div class="card mb-4 zoom-effect">
                <img src="{% static 'img/mater.jpg' %}" class="card-img-top" alt="Услуга 1">
                <div class="card-body">
                    <h5 class="card-title"><strong>Комплексное снабжение товарами для дома и дачи</strong></h5>
                    <p class="card-text">Оптовая база «Спектр» предлагает своим клиентам обширный ассортимент продукции, который включает в себя все необходимое для обустройства дома и дачи. Это могут быть хозяйственные товары, инструменты, садовая мебель, декор и многое другое. Благодаря наличию широкого выбора продукции в одном месте, клиенты могут экономить время и ресурсы, получая все необходимое в одном заказе. Это особенно удобно для розничных магазинов и строительных компаний, которым важно иметь постоянный доступ к разнообразному ассортименту товаров.</p>
                </div>
            </div>
        </div>
        <!-- Вторая услуга -->
        <div class="col-md-4">
            <div class="card mb-4 zoom-effect">
                <img src="{% static 'img/consult.jpg' %}" class="card-img-top" alt="Услуга 2">
                <div class="card-body">
                    <h5 class="card-title"><strong>Консультационные услуги и помощь в подборе товара</strong></h5>
                    <p class="card-text">Понимая, что правильный выбор продукции может быть сложной задачей, компания «Спектр» предлагает своим клиентам профессиональные консультации. Опытные менеджеры помогают подобрать товары в соответствии с конкретными требованиями и бюджетом. Это может быть особенно полезно для новых клиентов или компаний, которые только начинают свою деятельность и нуждаются в надежном партнере для формирования ассортимента</p>
                </div>
            </div>
        </div>
        <!-- Третья услуга -->
        <div class="col-md-4">
            <div class="card mb-4 zoom-effect">
                <img src="{% static 'img/i.webp' %}" class="card-img-top" alt="Услуга 3">
                <div class="card-body">
                    <h5 class="card-title"><strong>Гибкая система скидок и условий оплаты</strong></h5>
                    <p class="card-text">Одним из ключевых преимуществ работы с оптовой базой «Спектр» является гибкая система скидок и условий оплаты. Компания предлагает своим клиентам выгодные условия сотрудничества, которые включают в себя скидки на крупные заказы, отсрочку платежей и индивидуальные условия для постоянных клиентов. Это делает сотрудничество с «Спектром» особенно привлекательным для малых и средних предприятий, которые ищут надежного и экономически выгодного партнера</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
